@mixin flexy ($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
    display: $disp; 
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align; 
}

@mixin mq($break) {
    @if $break == 'desktop' {
        @media (min-width: $desktop) {
            @content; 
        }
    }

    @else {
        @error "Value for '#{$break}' was not valid or was not found. ";
    }
}